<div class="editorContainer">
  <h1>Editor</h1>
  <div class="editor">
    <form action="" (submit)="onSubmit()" class="material-form">
      <mat-form-field class="input-group" appearance="fill">
        <mat-label for="name">Name</mat-label>
        <input
          matInput
          type="text"
          name="name"
          id="name"
          placeholder="Name"
          [(ngModel)]="user.name"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-group">
        <mat-label for="email">Email</mat-label>
        <input
          matInput
          type="text"
          name="email"
          id="email"
          placeholder="Email"
          [(ngModel)]="user.email"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-group">
        <mat-label for="image">Image</mat-label>
        <input
          matInput
          type="text"
          name="image"
          id="image"
          placeholder="Image"
          [(ngModel)]="user.image"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-group">
        <mat-label for="desc">Description</mat-label>
        <input
          matInput
          type="text"
          name="desc"
          id="desc"
          placeholder="Description"
          [(ngModel)]="user.desc"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-group">
        <mat-label for="skills">Skills</mat-label>
        <mat-chip-set>
          <mat-chip
            *ngFor="let skill of user.skills"
            [removable]="true"
            (removed)="removeSkill(skill)"
          >
            {{ skill }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-set>
        <input
          matInput
          type="text"
          name="newSkill"
          id="newSkill"
          placeholder="Add a new skill"
          [(ngModel)]="newSkill"
          #newSkillInput
          (keyup.space)="addSkill(newSkillInput.value)"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-group">
        <mat-label for="address">Address</mat-label>
        <input
          matInput
          type="text"
          name="address"
          id="address"
          placeholder="Address"
          [(ngModel)]="user.address"
        />
      </mat-form-field>
      <div class="modal-container">
        <!-- Button for adding experience -->
        <button
          class="modals"
          mat-button
          color="accent"
          type="button"
          (click)="openExperienceDialog()"
        >
          Add Experience
        </button>
        <!-- Add a Title for Each experience and that can be deleted or edited -->
        <!-- Button for adding education -->
        <button
          class="modals"
          mat-button
          color="accent"
          type="button"
          (click)="openEducationDialog()"
        >
          Add Education
        </button>
        <!-- Add a Title for Each Education and that can be deleted or edited -->
      </div>

      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>
</div>
